<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>和教育-移动端用户中心</title>
    <link rel="stylesheet" type="text/css" href="style/common/base.css">
    <link rel="stylesheet" type="text/css" href="style/user/app.css">
  </head>
  <body class="bg_gray">
     <!--页面头部开始-->
     <header class="page_header bgBlue">
        <div class="arrow_icon"><a href="javascript:void(0)" class="go_back"></a></div>
        <h2 class="textCenter">爱提问</h2>
     </header>
     <!--页面头部结束-->
     <!--主体内容开始-->
     <article class="mainContainer account_page" data-module="account_page">
            <div class="coin_count">
                <h3>金币数</h3>
                <a href="javascript:void(0)" class="pure-button btnGreen">500</a>
                <p>约可提问<i>8</i>个难题</p>
            </div>
     </article>
     <!--主体内容结束-->
     <script type="text/javascript" src="javascript/lib/zepto.min.js"></script>
   </body>
</html>