<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>和教育-移动端</title>
    <link rel="apple-touch-icon" href="/image/icon/apple-touch-icon.png">
    <link rel="icon" href="/image/icon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/common/base.css">
    <link rel="stylesheet" type="text/css" href="style/aq/style.css">
  </head>
  <body>
  	<!--页面头部开始-->
  	<div class="page_header">
  		
  	</div>
  	<!--页面头部结束-->
  	<!--主体内容开始-->
	<div class="mainContainer">
		wellcome he-study
	</div>
	<!--主体内容结束-->
	<!--页脚开始-->
	<div class="page_footer">
  		
  	</div>
     <!--页脚结束-->
     <script type="text/javascript" src="javascript/lib/zepto.min.js"></script>
     <script type="text/javascript">
       window.location.href = 'u_login.html';
     </script>
  </body>
</html>